

body {
    
    margin: 0;
    background-color: #F2F2F2;

}


header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #197359;
    border-bottom: 9px solid #BF2A61 ;
    
    font-family: 'Lobster', cursive;
    text-align: center;
}

nav {
    background-color: #197359;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
     font-family: 'Lobster', cursive;
    font-size: 28px;
    
}



p {
    font-family: 'Indie Flower', cursive;
    padding-left: 10px;
    padding-right: 10px;
}


h1 {
     font-size: 48px; 
       font-family: 'Lobster', cursive;
     
}
h2,h3, figcaption{
      font-family: 'Indie Flower', cursive;
    padding-left: 10px;
    padding-right: 10px;
    color: #468C78;
}
    



#myhead {
    color: #197359;
    border-bottom: 9px solid #BF2A61 ;
    font-size: 2em;
   
}

#mainmenu{
    
    margin-top: 50px;
    
}